body {
  font: 20px Arial, sans-serif;
}

.navbar {
  background-color: #298A08;
}

.quem-somos {
  background-color: #F49206;
  color: white;
}

.margin {
  padding-bottom: 50px;
}

.bg-footer {
  background-color: #15A9EB;
  color: white;
}
